{erl_opts, [native, {hipe, [o3]}, warnings_as_errors]}. % for HiPE
%{erl_opts, [warnings_as_errors]}.

{port_env, [
    {"CC", "gcc-4.7"},
    % this CFLAGS file is for SFMT performance increase
    {"CFLAGS", "$CFLAGS -O3 -finline-functions -fomit-frame-pointer -fno-strict-aliasing --param max-inline-insns-single=1800 --param inline-unit-growth=500 --param large-function-growth=900 -Wmissing-prototypes -Wall -std=c99"}
]}.

{port_specs, [
    {"priv/tinymt32_nif.so", ["c_src/tinymt32_nif.c"]}
]}.

